*.o
*.bin
*.la
*.lo

autom4te.cache
.deps

Makefile
Makefile.in
INSTALL
aclocal.m4
configure
depcomp
missing
install-sh
stamp-h1
compile
config.log
config.status
config.guess
config.sub

*~

ext_deps
config.h.in
config.h

mkinstalldirs

*.swp
src/ckpool
src/ckpmsg
src/ckdb
ltmain.sh

*.m4

.libs/

libtool


